//timline daylight hours DETROIT

.timeline-day.hours-15 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 34%,
      #ffc665 39%,
      #ffc665 44%,
      #3a6476 50%,
      #1c3d4b 52%,
      #10252f 60%,
      #10252f 90%,
      #1c3d4b 92%,
      #3a6476 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='7'],
    [data-index='8'],
    [data-index='9'],
    [data-index='10'],
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'] {
      color: white;
    }
  }
}

.timeline-day.hours-16 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 30%,
      #ffc665 40%,
      #ffc665 43%,
      #3a6476 50%,
      #1c3d4b 55%,
      #10252f 60%,
      #10252f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='8'],
    [data-index='9'],
    [data-index='10'],
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'] {
      color: white;
    }
  }
}

.timeline-day.hours-21 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 34%,
      #ffc665 39%,
      #ffc665 41%,
      #3a6476 45%,
      #1c3d4b 47%,
      #10252f 48%,
      #10252f 75%,
      #1c3d4b 80%,
      #3a6476 82%,
      #abdfff 85%,
      #fffcce 87%,
      #fef46f 89%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='10'],
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'] {
      color: white;
    }
  }
}

.timeline-day.hours-23 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 32%,
      #ffc665 36%,
      #ffc665 38%,
      #3a6476 43%,
      #1c3d4b 45%,
      #10252f 48%,
      #10252f 69%,
      #1c3d4b 74%,
      #3a6476 76%,
      #abdfff 79%,
      #abdfff 82%,
      #fffcce 84%,
      #fef46f 89%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='10'],
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'] {
      color: white;
    }
  }
}

.timeline-day.hours-25 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 34%,
      #ffc665 39%,
      #ffc665 41%,
      #3a6476 45%,
      #1c3d4b 47%,
      #10252f 48%,
      #10252f 68%,
      #1c3d4b 70%,
      #3a6476 73%,
      #abdfff 75%,
      #fffcce 77%,
      #fef46f 82%,
      #fef46f 100%
    ) !important;
  }
}

.timeline-day.hours-26 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 34%,
      #ffc665 39%,
      #ffc665 41%,
      #3a6476 45%,
      #1c3d4b 47%,
      #10252f 48%,
      #10252f 68%,
      #1c3d4b 70%,
      #3a6476 73%,
      #abdfff 75%,
      #fffcce 77%,
      #fef46f 82%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'],
    [data-index='18'],
    [data-index='19'] {
      color: white;
    }
  }
}
.timeline-day.hours-27 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 50%,
      #ffc665 53%,
      #ffc665 56%,
      #3a6476 59%,
      #1c3d4b 61%,
      #10252f 63%,
      #10252f 80%,
      #1c3d4b 83%,
      #3a6476 86%,
      #abdfff 90%,
      #fffcce 92%,
      #fef46f 94%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='16'],
    [data-index='17'],
    [data-index='18'],
    [data-index='19'],
    [data-index='20'],
    [data-index='21'],
    [data-index='22'],
    [data-index='23'] {
      color: white;
    }
  }
}

.timeline-day.hours-28 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 36%,
      #ffc665 40%,
      #ffc665 43%,
      #3a6476 47%,
      #1c3d4b 49%,
      #10252f 52%,
      #10252f 60%,
      #1c3d4b 65%,
      #3a6476 69%,
      #abdfff 72%,
      #fffcce 77%,
      #fef46f 82%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'],
    [data-index='18'],
    [data-index='19'],
    [data-index='20'] {
      color: white;
    }
  }
}



//timline daylight hours MiAMIII

.timeline-day.corner-wrapper-2026-03-24 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 10%,
      #ffc665 16%,
      #3a6476 20%,
      #1c3d4b 24%,
      #10252f 26%,
      #10252f 75%,
      #1c3d4b 77%,
      #3a6476 80%,
      #abdfff 83%,
      #fffcce 85%,
      #fef46f 90%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: white;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='0'],
    [data-index='1'],
    [data-index='2'],
    [data-index='3'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index=''] {
      color: black;
    }
  }
}

.timeline-day.corner-wrapper-2026-03-25,
.timeline-day.corner-wrapper-2026-03-27,
.timeline-day.corner-wrapper-2026-03-28,
.timeline-day.corner-wrapper-2026-03-29
{
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 38%,
      #ffc665 40%,
      #3a6476 43%,
      #1c3d4b 45%,
      #10252f 47%,
      #10252f 83%,
      #1c3d4b 85%,
      #3a6476 87%,
      #abdfff 89%,
      #fffcce 95%,
      #fef46f 99%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'],
    [data-index='18'],
    [data-index='19'],
    [data-index='20'],
    [data-index='21']
     {
      color: white;
    }
  }
}


.timeline-day.corner-wrapper-2026-03-26 {
  .timeline-wrapper {
    background: none !important;
    background: linear-gradient(
      to right,
      #fef46f 0%,
      #fef46f 32%,
      #ffc665 35%,
      #3a6476 38%,
      #1c3d4b 40%,
      #10252f 42%,
      #10252f 81%,
      #1c3d4b 83%,
      #3a6476 85%,
      #abdfff 87%,
      #fffcce 89%,
      #fef46f 95%,
      #fef46f 100%
    ) !important;
    .timeline-time {
      color: black;
    }
    [data-index='0'] {
      display: none;
    }
    [data-index='9'],
    [data-index='10'],
    [data-index='11'],
    [data-index='12'],
    [data-index='13'],
    [data-index='14'],
    [data-index='15'],
    [data-index='16'],
    [data-index='17'],
    [data-index='18'],
     {
      color: white;
    }
  }
}
