@use './util/skygradient';
@use './util/filters';
@use './util/modals';

.timeline-con {
  margin-top: -25px;
}

.day-title {
  text-align: center;
  border-color: var(--color-text);
  border: 1px solid;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
}

.corner-label {
  color: var(--color-text-light);
  white-space: normal;
  font-size: 18px;
  line-height: 17px;
}

//genre tags
.genre-tags {
  padding-bottom: 5px;
}

.planby {
  max-height: calc(100vh - 120px) !important;
  @media (max-width: 768px) {
    max-height: calc(100dvh - 120px) !important;
    margin: 0 auto;
  }
  #planby-wrapper {
    border: 2px solid;
    border-color: var(--color-bg-dark);
    max-height: calc(100dvh - 120px);
    margin: 0 auto;
    border-radius: var(--radius-card);
    .planby-corner-box {
      background: var(--color-bg-dark);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #planby-layout-scrollbox {
      background: var(--color-bg-dark) !important;
      .timeline-wrapper {
        z-index: 7;
        margin-bottom: 20px;
        background-color: var(--color-bg-dark);

        .timeline-box {
          background: none !important;
        }
        .timeline-time {
          font-size: 12px;
        }
      }
      .planby-channels {
        // border: 1px solid hotpink;
        background: var(--color-bg-dark) !important;
        // height: 100%;
        // width: 100%;
        z-index: 7;
        .channel-wrapper {
          color: #f9f9f9;

          .channel-box {
            background-color: none;
            background: var(--color-bg-dark) !important;
            // border: 1px solid limegreen;
            // width: 100px;
            .channel-box-inner {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-items: center;
              justify-content: center;
              border-right: 4px solid;
              height: calc(100% - 10px);
              width: 100%;
              text-align: center;
              overflow: hidden;
              p {
                margin: 0;
                word-break: normal;
                overflow-wrap: normal;
                font-size: 12px;
                line-height: 12px;
              }

              .party-venue {
                width: 100%;
                p {
                  font-weight: bold;
                }
              }

              .venue-logo {
                // border: 1px solid hotpink;
                max-width: 100%;
                max-height: calc(100% - 10px);
              }
              .venue-subheading {
                width: 100%;
                margin: 0;
                margin-top: 0px;
                font-size: 9px;
                font-weight: bold;
              }
              .venue-subheading.tba {
                font-size: .8rem;
                color: yellow;
              }
            }
            .channel-box-inner.Pool {
              .venue-logo {
                max-height: calc(100% - 20px);
              }
              .venue-subheading {
                line-height: .5rem;
              }
            }
          }
        }
        .channel-wrapper.detroittransmission {
          p {
            font-size: 9px !important;
          }
        }
      }
      .planby-content {
        max-height: calc(100vh - 120px) !important;
        background: var(--color-bg-dark);

        .menjos .party-content {
          border: none !important;
          color: black;
          background: linear-gradient(
            to right,
            #e40303,
            #ff8c00,
            #ffed00,
            #008026,
            #004dff,
            #750787
          );
        }
        .hartplaza .party-content {
          border: none !important;
          color: black;
          background: linear-gradient(
            135deg,
            #ff5c00 0%,
            #ff7e00 25%,
            #ff9f00 50%,
            #ffc800 75%,
            #fff36f 100%
          );
        }

        .hartplaza:hover {
          .party-content {
            border: 3px solid #ff5c00 !important;
          }
        }

        .menjos:hover {
          .party-content {
            border: 3px solid #e40303 !important;
          }
        }

        .halobarandlounge .party-content {
          border: 4px solid transparent !important;
          background:
            linear-gradient(rgb(255, 102, 207), rgb(255, 102, 207)) padding-box,
            linear-gradient(to right, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787)
              border-box !important;
        }

        .detroiteagle .party-content {
          border: 4px solid transparent !important;
          background:
            linear-gradient(#e40303, #e40303) padding-box,
            linear-gradient(to right, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787)
              border-box !important;
        }
      }
    }
    #planby-layout-scrollbox::-webkit-scrollbar-track {
        background: var(--color-bg-dark);
      }
    #planby-layout-scrollbox::-webkit-scrollbar-thumb {
      background: var(--color-text-light);
      border-radius: 4px;
    }
  }
}

.party-box {
  &:hover {
    .party-content {
      background: none !important;
      background-color: color-mix(in srgb, var(--card-bg) 70%, white 25%) !important;
    }
  }
  .party-content {
    background: none;
    background-color: black;
    display: block;
    border: 3px solid;
    padding: 10px 10px;
    @media (max-width: 768px) {
      padding: 5px 10px;
    }

    .title-wrapper {
      .title {
        margin: 0;
        font-weight: bold;
        pointer-events: auto;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin-top: -5px;
      }
      .tooltip {
        display: none;
      }
    }

    .bottom-half {
      // border: 1px solid red;
      display: flex;
      margin-top: 5px;
      column-gap: 15px;
      font-size: 12px;
      margin-top: 13px;
      @media (max-width: 768px) {
        column-gap: 0px;
        flex-wrap: wrap;
        margin-top: 12px;
        .artist-name, i {
          font-size: 12px;
        }
      }
      .left-side {
        border-left: 1px solid white;
        padding-left: 7px;
        margin-left: 7px;
        flex: 1;
        min-width: 0; /* 👈 this is critical */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 600px;
        @media (max-width: 768px) {
          flex: none;
          width: 100%;
          border: none;
          margin: 0;
          padding: 0;
        }
        .top-artists {
          margin-bottom: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          min-width: 0;
          margin-top: 3px;
        }
        .genre-tags {
          margin-top: -2px;
          display: flex;
          align-items: baseline;
          column-gap: 5px;
        }
        .time {
          font-size: 12px;
          i {
            padding-right: 2px;
          }
        }
      }
      .right-side {
        border-left: 1px solid white;
        padding-left: 7px;
        flex: 1;
        min-width: 0; /* 👈 this is critical */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (max-width: 768px) {
          border: none;
          margin: 0;
          padding: 0;
        }

        p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          min-width: 0;
          span.time {
            text-transform: lowercase;
          }
          span.tier {
            font-style: italic;
          }
          span.emoji {
            font-size: 14px;
            margin-top: 2px;
          }
        }
        span.venue {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex: 1;
          min-width: 0;
        }
        .time-venue {
          display: flex;
          align-items: center;
          gap: 2px;
          min-width: 0;
        }
      }
    }
  }
}


.hours-15 {
  #planby-wrapper {
    max-width: 1100px;
  }
}
.hours-16 {
  #planby-wrapper {
    max-width: 1165px;
  }
}


//menjos styles
.program-modal.menjos {
  .modal-outer {
    margin: 0 auto;
    width: calc(100vw - 50px);
    max-width: 910px;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(to right, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
  }
  .modal-inner {
    border: none;
    position: absolute;
    width: calc(100vw - 58px);
    height: calc(70vh - 8px);
    margin: 4px;
    .top-row,
    .btn {
      background: linear-gradient(to right, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
    }
    .top-row {
      width: calc(100vw - 98px);
      .venue-logo-name {
        h3 {
          display: none;
        }
      }
    }
    .btn {
      width: calc(100vw - 195px);
      color: black !important;
      font-weight: bold;
      // width: 100%;
    }
    .main-content::-webkit-scrollbar-thumb {
      width: calc(75vw - 8px);
      background: linear-gradient(0deg, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
    }
  }
}

//movement/hartplaza styles
.program-modal.hartplaza {
  .modal-outer {
    margin: 0 auto;
    width: calc(100vw - 50px);
    max-width: 910px;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(
      135deg,
      #ff5c00 0%,
      #ff7e00 25%,
      #ff9f00 50%,
      #ffc800 75%,
      #fff36f 100%
    );
  }
  .modal-inner {
    border: none;
    position: absolute;
    width: calc(100vw - 58px);
    height: calc(70vh - 8px);
    margin: 4px;
    .top-row,
    .btn {
      background: linear-gradient(
        135deg,
        #ff5c00 0%,
        #ff7e00 25%,
        #ff9f00 50%,
        #ffc800 75%,
        #fff36f 100%
      );
    }
    .top-row {
      width: calc(100vw - 98px);
      .exit-modal i {
        color: black !important;
      }
      .venue-logo-name {
        flex-direction: row;
        align-items: center;
        h3 {
          color: white !important;
        }
      }
    }
    .btn {
      width: calc(100vw - 195px);
      color: black !important;
      font-weight: bold;
      // width: 100%;
    }
    .main-content::-webkit-scrollbar-thumb {
      width: calc(75vw - 8px);
      background: linear-gradient(
        135deg,
        #ff5c00 0%,
        #ff7e00 25%,
        #ff9f00 50%,
        #ffc800 75%,
        #fff36f 100%
      );
    }
  }
}


