@use "./variables" as *;
@use "./mixins" as *;

.hide {
  display: none !important;
}

.m-hide {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

.d-hide {
  @media (min-width: 768px) {
    display: none;
  }
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.bold {
  font-weight: bolder;
}

.highlight {
  color: var(--color-primary);
}

.mb-xs {
  margin-bottom: $space-2;
}

.mb-sm {
  margin-bottom: $space-3;
}

.full-width {
  width: 100%;
}

.padding-sm {
  padding: $space-1;
}

.padding {
  padding: $space-3;
}


//bgs

.dark-bg {
  background-color: var(--color-bg-dark) !important;
  color: var(--color-text-light) !important;
}

.light-bg {
  background-color: var(--color-bg-light) !important;
  color: var(--color-text-dark) !important;
}

.alt-bg {
  background-color: var(--color-bg-alt) !important;
  color: var(--color-text-alt) !important;
}
